@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <script src="~/scripts/exports.js" type="text/javascript"></script>

    <title>Настройка безопасности</title>

</head>
<body ng-app="SecurityApp">
    <div>
        @RenderBody()
    </div>

    @Styles.Render("~/styles/angular-material")
    @Scripts.Render("~/scripts/angular-material-package")
    @Scripts.Render("~/scripts/angular-ui-router")
    @Scripts.Render("~/scripts/security")

    <script type="text/javascript">
        "use strict";
        var securityApp = angular.module("SecurityApp", ['ngMaterial', 'ui.router']);

        securityApp.config(function ($stateProvider, $mdIconProvider) {
            $mdIconProvider.iconSet('navigation', '/Content/images/material-icons/iconsets/navigation-icons.svg');

            var states = [
                {
                    name: 'adminpanel',
                    url: '/adminpanel',
                    abstract: true,
                    views: {
                        "main": {
                            templateUrl: "/Templates/AdminPanel",
                            controller: exports.controllers.AdminPanelController
                        }
                    },
                    resolve: {
                        tabs: function () {
                            return {
                                0: "tab0" ,
                                1: "tab1" ,
                                2: "tab2" 
                            }
                        }
                    }
                },
                {
                    name: 'users',
                    parent: 'adminpanel',
                    url: '/users',
                    views: {
                        "users": {
                            templateUrl: "/Templates/AdminPanelUsers",
                            controller: 'UsersController'
                        }
                    },
                    bindings: {
                        users: '<'
                    },
                    resolve: {
                        users: function (UserProvider) {
                            debugger;
                            var allUsers = UserProvider.getAllUsers();
                            return allUsers;
                        }
                    }
                },
                {
                    name: 'users.detail',
                    url: '/detail',
                    views: {
                        "tab0@adminpanel": {
                            template: "<h1>Tab0</h1>"
                        },
                        "tab1@adminpanel": {
                            template: "<h1>Tab1</h1>"
                        },
                        "tab2@adminpanel": {
                            template: "<h1>Tab2</h1>"
                        }
                    }
                }
            ];

            states.forEach(function (state) {
                $stateProvider.state(state);
            });
        });

        //        securityApp.controller("AdminPanelController", exports.controllers.AdminPanelController);

        securityApp.controller('UsersController', [
            '$scope', '$http', '$state', 'tabs', 'users', function($scope, $http, $state, tabs, users) {

                debugger;

                $scope.users = users;

                tabs[0] = "Профиль";
                tabs[1] = "Группы";
                tabs[2] = "Роли";

//                $scope.getUserList = function () {
//                    $http.get("/Security/GetUserList").then(function (data) {
//                        $scope.users = data.data;
//                    }, function (err) {
//                        throw new Error(err);
//                    });
//                };

                $scope.stateInit = function() {
//                    $scope.getUserList();
                }

                $scope.itemClick = function($event) {
                    $state.go('users.detail');
                }
            }
        ]);

        securityApp.controller('UsersDetailController', ['$scope', function ($scope) {
            $scope.name = 'Привет';
        }]);

        securityApp.provider("UserProvider", exports.providers.UserProvider);

        securityApp.run(function ($state) {
            $state.go('users');
        });

    </script>

    @RenderSection("angularscript", false)

</body>
</html>
