@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <script src="~/scripts/itisExports.js" type="text/javascript"></script>

    <title>Настройка безопасности</title>

</head>
<body ng-app="SecurityApp">
    <div>
        @RenderBody()
    </div>

    @Styles.Render("~/styles/angular-material")
    @Scripts.Render("~/scripts/angular-material-package")
    @Scripts.Render("~/scripts/angular-ui-router")
    @Scripts.Render("~/scripts/security")

    <script type="text/javascript">
        "use strict";
        var securityApp = angular.module("SecurityApp", ['ngMaterial', 'ui.router']);

        securityApp.config(function ($stateProvider, $mdIconProvider) {
            $mdIconProvider.iconSet('navigation', '/Content/images/material-icons/iconsets/navigation-icons.svg');

            var states = [
                {
                    name: 'adminpanel',
                    url: '/adminpanel',
                    abstract: true,
                    views: {
                        "main": {
                            component: "adminpanel"
                        }
                    },
                    data: {
                        tabs2: {
                            0: "tab0",
                            1: "tab1",
                            2: "tab2"
                        }
                    }
                },
                {
                    name: 'users',
                    parent: 'adminpanel',
                    url: '/users',
                    views: {
                        "users": {
                            component: 'users'
                        }
                    },
                    resolve: {
                        users: function (UserProvider) {
                            var allUsers = UserProvider.getAllUsers();
                            return allUsers;
                        }
                    },
                    params: { login: null }
                },
                {
                    name: 'detail',
                    parent: 'users',
                    url: '/{login}',
                    params: {login: null},
                    views: {
                        "tab0@adminpanel": {
                            component: 'userProfile'
                        },
                        "tab1@adminpanel": {
                            component: "userProfile"
                        },
                        "tab2@adminpanel": {
                            component: "userProfile"
                        }
                    },
                    resolve: {
                        user: function (users, $stateParams) {
                            debugger;
                            return users.find(function(user) {
                                return user.Login === $stateParams.login;
                            });
                        }
                    }
                }
            ];

            states.forEach(function (state) {
                $stateProvider.state(state);
            });
        });

        //        securityApp.controller("AdminPanelController", exports.controllers.AdminPanelController);

        securityApp.controller('UsersController', [
            '$scope', '$http', '$state', function($scope, $http, $state) {

                debugger;

                var tabs = $state.current.data.tabs2;
                tabs[0] = "Профиль";
                tabs[1] = "Группы";
                tabs[2] = "Роли";

                //$scope.users = users;

//                tabs[0] = "Профиль";
//                tabs[1] = "Группы";
//                tabs[2] = "Роли";

                $scope.stateInit = function () {
                    debugger;
//                    $scope.getUserList();
                }

                $scope.itemClick = function ($event, user) {
                    debugger;
                    $state.go('detail', {login: user.Login});
                }
            }
        ]);

        securityApp.controller('UsersDetailController', ['$scope', function ($scope) {
            $scope.name = 'Привет';
        }]);
        securityApp.controller('AdminPanelController', itisExports.controllers.AdminPanelController);


        securityApp.provider("UserProvider", itisExports.providers.UserProvider);
        securityApp.component('users', new itisExports.components.usersComponent());
        securityApp.component('userProfile', new itisExports.components.userProfileComponent());
        securityApp.component('adminpanel', new itisExports.components.adminpanelComponent());

        securityApp.run(function ($state) {
            $state.go('users');
        });

    </script>

    @RenderSection("angularscript", false)

</body>
</html>
